p {
	font-family: Arial;
}

h1 {  
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: cursive;
  text-transform: capitalize;
}

/* Illustrating using ID's in CSS and even more examples of cascading */