p {
	font-family: Arial;
}

h1 {  
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

/* Going over how a tag can have multiple classes and introduce text-transform */